---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/nav.astro';
import About from '../components/about.astro';
import Projects from '../components/projects.astro';
import Resume from '../components/resume.astro';
import Header from '../components/header.astro';
---

<Layout title='Sebastian Garzon | Portfolio'>
	<Nav />
	<Header />
	<About />
	<Resume />
	<section id='projects' class='relative flex flex-col items-center bg-zinc-700'>
		<h1 class='text-orange-400 text-6xl pt-16 font-[cursive] mb-12'>Projects</h1>
		<h2 class='lg:w-1/2 text-center text-lg sm:w-2/3'>
			Welcome to this section, i show you my projects in which i have worked and what tecnologies i used. Each project has allowed me to
			learn new skills and grow as a developer. Hope you like and enjoy of these.
		</h2>
		<img src='../trabajador.png' alt='' class='lg:block sm:hidden absolute right-28 top-1/2' width='200' />
		<Projects
			title='Weather app'
			url='https://app-clima-sebastian.netlify.app'
			img='app-clima.png'
			text='This project is an app which help us to know the weather of whatever city.'
			react
			tw
		/>
		<Projects
			title='Deezer'
			url='https://copydeezer.netlify.app'
			img='deezer.png'
			text='This is a copy of the offical web page of deezer.'
			js
			css
			html
		/>

		<Projects
			title='Task'
			url='https://sebastian-prueba.netlify.app'
			img='pruba.png'
			text='This is only the design of a medical supplies page.'
			html
			css
		/>
	</section>
</Layout>
