---
const date = new Date().getFullYear();
---

<article id='about' class='bg-zinc-700 flex flex-col h-screen'>
	<h1 class='text-6xl text-center lg:py-16 text-orange-400 font-[cursive] sm:py-6'>About me</h1>
	<div class='flex items-center justify-center sm:flex-col lg:flex-row'>
		<div class='w-full text-justify lg:mr-14 sm:m-0 font-sans lg:w-2/5 sm:w-3/5'>
			<p class='lg:text-xl p-4 sm:text-lg'>
				I'm from Colombia, i am {date - 2004} years old, i have been studying web development 1 year ago, because i like this whole world
				and it's that would like to dedicate me.
			</p>
			<p class='lg:text-xl p-4 sm:text-lg'>
				I entered to the development world because since i was a child i ask me how the pages or videogames worked, and now that i know
				something, when i make code and see that work it that makes me happy.
			</p>
			<p class='text-xl p-4 sm:text-lg'>
				Appart to the development i am a person who likes explore new things and the ones i like the most are: play guitar, play
				videogames,travel, listen music. Those are things that make me happy.
			</p>
		</div>
		<img src='musica.png' alt='' width='200' class='max-h-52 ml-14' />
	</div>
</article>
