<script>
	const contacts = document.querySelector('.contacts');
	const nets = [
		document.getElementById('net1'),
		document.getElementById('net2'),
		document.getElementById('net3'),
		document.getElementById('net4'),
	];
	const delay = 100;

	contacts?.addEventListener('click', () => {
		nets.forEach((net, i) => {
			setTimeout(() => {
				net.style.transform = 'translateY(-15px)';
				setTimeout(() => {
					net.style.transform = '';
				}, delay);
			}, delay * i);
		});
	});
</script>
<nav class='sticky bg-zinc-900 flex justify-end gap-6 lg:gap-14 items-center pr-6 lg:pr-14 h-16 top-0 z-20'>
	<div class='absolute left-14 hover:scale-110'>
		<a class='text-orange-400 text-lg' href=''>Home</a>
	</div>
	<a class='redirect text-lg' href='#about'>About</a>
	<a class='redirect contacts text-lg' href='#contact'>Contact</a>
	<a class='redirect text-lg' href='#projects'>Projects</a>
</nav>
<style>
	.redirect {
		position: relative;
	}
	.redirect::before {
		position: absolute;
		content: '';
		left: 50%;
		width: 0;
		bottom: 0;
		transform: translate(-50%);
		transition: all 0.3s ease;
	}
	.redirect:hover::before {
		width: 100%;
		border-bottom: 1px solid white;
	}
</style>
