---
import Tech from '../components/technologies.astro';
---

<main class='flex flex-col relative items-center h-screen w-full'>
	<h1 class='text-orange-400 text-6xl mt-12 font-[cursive] mb-7 text-center'>My resume</h1>
	<h2 class='lg:w-1/2 text-center text-lg mb-6'>
		Here you can see the technologies that i have been learning and the skills that i have expanded and keep improving during 2 year as
		web developer.
	</h2>
	<section class='flex flex-col lg:flex-row lg:items-start items-center lg:w-4/5 w-[90%] justify-between relative'>
		<ul class='list-disc mt-6 lg:mt-28'>
			<li class='lg:text-2xl sm:text-xl'>Self-taught</li>
			<li class='lg:text-2xl sm:text-xl'>Responsability</li>
			<li class='lg:text-2xl sm:text-xl'>Imagination and creativity</li>
			<li class='lg:text-2xl sm:text-xl'>I like teamworking because i feel that is the best way to learn</li>
			<li class='lg:text-2xl sm:text-xl'>Design</li>
			<li class='lg:text-2xl sm:text-xl'>Adaptability</li>
		</ul>

		<aside
			class='text-center -mt-5 self-center lg:self-end lg:p-8 p-2 bg-gradient-to-r ring-8 ring-offset-4 ring-offset-purple-500 ring-violet-900 lg:w-1/5 w-1/2'>
			<h2 class='text-5xl text-red-400 text-center font-serif mb-8'>Skills</h2>
			<Tech class='html' tech='Html' percent='80' bar='80' />
			<Tech class='css' tech='Css' percent='70' bar='70' />
			<Tech class='js' tech='JavaScript' percent='60' bar='60' />
			<Tech class='ts' tech='TypeScript' percent='50' bar='50' />
			<Tech class='react' tech='React' percent='50' bar='50' />
			<Tech class='tw' tech='Tailwind' percent='70' bar='70' />
			<Tech class='astro' tech='Astro' percent='50' bar='50' />
		</aside>
	</section>
</main>

<style>
	.html::-webkit-progress-value {
		border-radius: 10px;
		background-color: rgb(202, 58, 58);
		color: white;
	}
	.html::-webkit-progress-bar {
		border-radius: 10px;
	}
	.css::-webkit-progress-value {
		border-radius: 10px;
		background-color: rgb(37 99 235);
	}
	.css::-webkit-progress-bar {
		border-radius: 10px;
	}
	.js::-webkit-progress-value {
		border-radius: 10px;
		background-color: rgb(242, 250, 27);
	}
	.js::-webkit-progress-bar {
		border-radius: 10px;
	}
	.ts::-webkit-progress-value {
		border-radius: 10px;
		background-color: rgb(231, 187, 14);
	}
	.ts::-webkit-progress-bar {
		border-radius: 10px;
	}
	.react::-webkit-progress-value {
		border-radius: 10px;
		background-color: #149eca;
	}
	.react::-webkit-progress-bar {
		border-radius: 10px;
	}
	.tw::-webkit-progress-value {
		border-radius: 10px;
		background-color: #38bdf8;
	}
	.tw::-webkit-progress-bar {
		border-radius: 10px;
	}
	.astro::-webkit-progress-value {
		border-radius: 10px;
		background-color: rgb(221, 122, 10);
	}
	.astro::-webkit-progress-bar {
		border-radius: 10px;
	}
</style>
